<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="listener.CustomReportPortalListener"/>
        <listener class-name="listener.VideoTestListener"/>
        <listener class-name="utils.SuiteListener"/>
    </listeners>
    <test name="MethodSpecificTests">
        <parameter name="browserName" value="chrome"/>
        <parameter name="env" value="test"/>
        <classes>
            <class name="automatedTest.login.LoginTest">
            <methods>
                <include name="loginTest"/>
                <include name="dashboardTest"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>
